<form [formGroup]="regForm" class="form container mt-4">
  <div class="col-12">
      <h6 class="title" title="We need this information to have the patient's clinician of record on file">Referring Doctor/Practice Info</h6>
      <h6 class="text-center raleway">Looks like you're new, so let's quickly verify or correct this info:</h6>

      <div class="row mb-2">
          <div class="col-sm-3 col-form-label"><label>Doctor Name*</label></div>
          <div class="col-sm">
              <label class="col-sm-3 col-form-label" hidden>dfirst</label>
              <input formControlName="dFirstName" type="text" class="form-control form-control-lg "
                  placeholder="First Name" tabindex="1" />
              <!-- <div class="invalid-tooltip">Enter your tooltip error here!</div> -->
          </div>
          <div class="col-sm ">
              <label class="form-label" hidden>dlast</label>
              <input formControlName="dLastName" type="text" class="form-control form-control-lg "
                  placeholder="Last Name" tabindex="2" />
              <!-- <div class="invalid-tooltip">Enter your tool tip error here!</div> -->
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label cinzel"><label>Practice*</label></div>
          <div class="col-sm-9">
              <input formControlName="practice" type="text" placeholder="Practice Name"
                  class="form-control form-control-lg " tabindex="3" />
              <!--<div class="invalid-tooltip">Enter your tool tip error here!</div>-->
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Street Address*</label></div>
          <div class="col-sm-7">
              <input formControlName="street" type="text" placeholder="Practice Street Mailing Address"
                  class="form-control form-control-lg " tabindex="4" />
              <!--<div class="invalid-tooltip"> Enter your tool tip error here!</div>-->
          </div>
          <div class="col-sm-2">
              <input formControlName="address2" type="number" placeholder="Suite/Office"
                  class="form-control form-control-lg " />
              <!--<div class="invalid-tooltip"> Enter your tool tip error here!</div>-->
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-3 position-relative">
              <input formControlName="city" type="text" placeholder="City"
                  title="We built this city on rock and roll...What else would one put here?"
                  class="form-control form-control-lg " tabindex="5" />
              <!--<div class="invalid-tooltip">Enter your tool tip error here!</div>-->
          </div>

          <label class="col-sm-3 col-form-label" hidden></label>
          <div class="col-sm-3 position-relative">
              <select formControlName="state" class="form-select form-select-lg " title="US State/Territory"
                  tabindex="6">
                  <option disabled selected value>State</option>
                  <option *ngFor="let state of statesUSA" [value]="state.value">{{ state.name }}</option>
              </select>
              <!--<div class="invalid-tooltip">Enter your tool tip error here!</div>-->
          </div>

          <label class="col-sm-3 col-form-label" hidden></label>
          <div class="col-sm-3 position-relative">
              <input formControlName="zip" type="number" placeholder="Zip" maxlength="5" pattern="^\d{5}$"
                  title="Five Digit Zip Code" class="form-control form-control-lg " tabindex="7" />
              <!--<div class="invalid-tooltip"> Enter your tool tip error here!</div>-->
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Contact Number*</label></div>
          <div class="col-sm-9">
              <input formControlName="practisePhoneNo" type="number" placeholder="Practice Phone Number"
                  class="form-control form-control-lg " tabindex="8" />
              <!--<div class="invalid-tooltip"> Enter your tool tip error here!</div>-->
          </div>
      </div>

      <div class="d-none row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Secondary Number</label></div>
          <div class="col-sm-9 position-relative">
              <input formControlName="practicePhoneNo2" type="text" maxlength="10" pattern="^\d{10}$"
                  placeholder="Optional Secondary Contact Number" class="form-control form-control-lg" tabindex="9" />
              <!-- <div class="invalid-tooltip"> Enter your tool tip error here!</div> -->
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Contact Email*</label></div>
          <div class="col-sm-9">
              <input formControlName="emailId" type="email"
                  placeholder="Doctor/Practice Contact Email (This is your ID, your report destination, etc.)"
                  class="form-control form-control-lg " title="Lowercase Email Address" tabindex="10" />
              <!--<div class="invalid-tooltip">Keep typing until it's a complete email</div>-->
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Billing Email*</label></div>
          <div class="col-sm-9">
              <input formControlName="billEmail" type="email" placeholder="Email for Invoice/Receipt Person (if same, copy from above)"
                  class="form-control form-control-lg " title="Lowercase Email Address" tabindex="11" />
              <!--<div class="invalid-tooltip">Keep typing until it's a complete email</div>-->
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"></div>
          <div class="col-sm">
              <label class="col-sm-3 col-form-label" hidden>specialty</label>
              <select formControlName="specialty" class="form-select form-select-lg mb-3 " title="Specialty"
                  tabindex="12">
                  <option selected value="1">General</option>
                  <option value="2">Endodontics</option>
                  <option value="3">Periodontics</option>
                  <option value="4">Prosthodontics</option>
                  <option value="5">Orthodontics</option>
                  <option value="6">Pediatrics</option>
                  <option value="7">OMS</option>
                  <option value="8">Pathology</option>
                  <option value="9">Other</option>
              </select>
              <!--<div class="invalid-tooltip"> Enter your tool tip error here!</div>-->
          </div>

          <div class="col-sm position-relative">
              <label hidden>cbct</label>
              <select formControlName="cbct" class="form-select form-select-lg mb-3 " title="CBCT Machine"
                  tabindex="13">
                  <option selected value="1">Sirona</option>
                  <option value="2">iCat</option>
                  <option value="3">Carestream Kodak</option>
                  <option value="4">Planmeca</option>
                  <option value="5">Instrumentarium</option>
                  <option value="6">Morita</option>
                  <option value="7">VaTech</option>
                  <option value="8">NewTom</option>
                  <option value="9">PreXion</option>
                  <option value="10">Kavo</option>
                  <option value="11">Dexis</option>
                  <option value="99">Other</option>
              </select>
              <!-- <div class="invalid-tooltip"> Enter your tool tip error here!</div> -->
          </div>
      </div>

  </div>

          <!-- Nav Button Forward-->
          <div class="col"
          >
          <a class="navbutton position-absolute top-50 end-0 translate-middle-y fadefast" 
           (click)="navigateToPatientForm()" role="button">
           <span class="material-symbols-rounded">arrow_circle_right</span>
           </a>
          </div>

  <!-- User Message -->
  <div class="row">
      <div class="col text-center" id="userMessage"></div>
  </div>

</form>
