<form [formGroup]="regForm" class="form container mt-4">
  <div class="col-12">
      <h6 class="title" title="We need this information to have the patient's clinician of record on file">Referring Doctor/Practice Info</h6>
      <h6 class="text-center raleway">Looks like you're new, so let's quickly verify or correct this info:</h6>

      <div class="row mb-2">
          <div class="col-sm-3 col-form-label"><label>Doctor Name*</label></div>
          <div class="col-sm">
              <label class="col-sm-3 col-form-label" hidden>dfirst</label>
              <input formControlName="dFirstName" type="text" class="form-control form-control-lg "
                  placeholder="First Name" 
                  [ngClass]="{'is-invalid': formControls['dFirstName'].invalid, 'is-valid': formControls['dFirstName'].valid}"
                  />
          </div>
          <div class="col-sm ">
              <label class="form-label" hidden>dlast</label>
              <input formControlName="dLastName" type="text" class="form-control form-control-lg "
                  placeholder="Last Name"
                  [ngClass]="{'is-invalid': formControls['dLastName'].invalid, 'is-valid': formControls['dLastName'].valid}"
                  />
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label cinzel"><label>Practice*</label></div>
          <div class="col-sm-9">
              <input formControlName="practice" type="text" placeholder="Practice Name"
                  class="form-control form-control-lg "
                  [ngClass]="{'is-invalid': formControls['practice'].invalid, 'is-valid': formControls['practice'].valid}"
                  />
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Street Address*</label></div>
          <div class="col-sm-7">
              <input formControlName="street" type="text" placeholder="Practice Street Mailing Address"
                  class="form-control form-control-lg "
                  [ngClass]="{'street': formControls['street'].invalid, 'is-valid': formControls['street'].valid}"
                  />
          </div>
          <div class="col-sm-2">
              <input formControlName="address2" type="text" placeholder="Suite/Office"
                  class="form-control form-control-lg " />
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <label class="col-sm-3 col-form-label"></label>
          <div class="col-sm-3 position-relative">
              <input formControlName="city" type="text" placeholder="City"
                  title="We built this city on rock and roll...What else would one put here?"
                  class="form-control form-control-lg " 
                  [ngClass]="{'is-invalid': formControls['city'].invalid, 'is-valid': formControls['city'].valid}"
                  />
          </div>

          <label class="col-sm-3 col-form-label" hidden></label>
          <div class="col-sm-3 position-relative">
              <select formControlName="state" class="form-select form-select-lg " title="US State/Territory"
              [ngClass]="{'is-invalid': formControls['state'].invalid, 'is-valid': formControls['state'].valid}"
                  >
                  <option disabled selected value>State</option>
                  <option *ngFor="let state of statesUSA" [value]="state.value">{{ state.name }}</option>
              </select>
          </div>

          <label class="col-sm-3 col-form-label" hidden></label>
          <div class="col-sm-3 position-relative">
              <input formControlName="zip" type="number" placeholder="Zip" 
              [ngClass]="{'is-invalid': formControls['zip'].invalid, 'is-valid': formControls['zip'].valid}"
                  title="Five Digit Zip Code" class="form-control form-control-lg " />
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Contact Number*</label></div>
          <div class="col-sm-9">
              <input formControlName="practisePhoneNo"  placeholder="Practice Phone Number"
                  class="form-control form-control-lg "
                  [ngClass]="{'is-invalid': formControls['practisePhoneNo'].invalid, 'is-valid': formControls['practisePhoneNo'].valid}"

                  />
          </div>
      </div>

      <div class="d-none row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Secondary Number</label></div>
          <div class="col-sm-9 position-relative">
              <input formControlName="practicePhoneNo2" type="text" maxlength="10" pattern="^\d{10}$"
                  placeholder="Optional Secondary Contact Number" class="form-control form-control-lg"  />
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Contact Email*</label></div>
          <div class="col-sm-9">
              <input formControlName="emailId" type="email"
                  placeholder="Doctor/Practice Contact Email (This is your ID, your report destination, etc.)"
                  class="form-control form-control-lg " title="Lowercase Email Address"  
                  [ngClass]="{'is-invalid': formControls['emailId'].invalid, 'is-valid': formControls['emailId'].valid}"

                  />
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"><label>Billing Email*</label></div>
          <div class="col-sm-9">
              <input formControlName="billEmail" type="email" placeholder="Email for Invoice/Receipt Person (if same, copy from above)"
                  class="form-control form-control-lg " title="Lowercase Email Address" 
                  [ngClass]="{'is-invalid': formControls['billEmail'].invalid, 'is-valid': formControls['billEmail'].valid}"

                  />
          </div>
      </div>

      <div class="row mb-2 position-relative">
          <div class="col-sm-3 col-form-label"></div>
          <div class="col-sm">
            <select formControlName="specialty" class="form-select form-select-lg mb-3"
            [ngClass]="{'is-invalid': formControls['specialty'].invalid, 'is-valid': formControls['specialty'].valid}">
                <option value="" disabled selected>Speciality</option>
                <option *ngFor="let state of specialityDD" [value]="state.value" >{{ state.name }}</option>
              </select>
          </div>

          <div class="col-sm position-relative">
            <select formControlName="cbct" class="form-select form-select-lg mb-3"
            [ngClass]="{'is-invalid': formControls['cbct'].invalid, 'is-valid': formControls['cbct'].valid}">
                <option value="" disabled selected>CBCT</option>
                <option *ngFor="let state of CBCTDD" [value]="state.value">{{ state.name }}</option>
              </select>
          </div>
      </div>

  </div>

          <!-- Nav Button Forward-->
          <div class="col"
          *ngIf="regForm.status == 'VALID'"
          >
          <a class="navbutton position-absolute top-50 end-0 translate-middle-y fadefast" 
           (click)="navigateToPatientForm()" role="button">
           <span class="material-symbols-rounded">arrow_circle_right</span>
           </a>
          </div>

  <!-- User Message -->
  <div class="row">
      <div class="col text-center" id="userMessage"></div>
  </div>

</form>
