<div>
    <h1 class="title">Case Submission Form</h1>
      <div class="steps justify-content-center">
        <span class="step active" title='Practice|Doctor Info'><i class="fa-solid fa-hospital"></i></span>
        <span class="step" title='Patient Info'><i class="fa-solid fa-user"></i></span>
        <span class="step" title='Reason'><i class="fa-solid fa-address-card"></i></span>
        <span class="step" title='Radiologist'><i class="fa-solid fa-user-doctor"></i></span>
        <span class="step" title='Confirmation'><i class="fa-solid fa-check-to-slot"></i></span>
      </div>
  </div>