<form [formGroup]="matchPracticeForm" class="form container mt-4">
  <div class="col-12">

        <!-- White Space Empty Rows -->     
        <div class="row mt-4"></div>
        <div class="row mt-4"></div>

        <div class="row mt-4 mb-2">
          <div class="col-sm-3 col-form-label"><label>Your Name*</label></div>
          <div class="col-sm-9">
              <input formControlName="name" name="name" id='nameId' type="text"
                     class="form-control form-control-lg"
                     
              />
          </div>
      </div>
      
      

        <!-- White Space Empty Row -->
        <div class="row mt-4"></div>

        <div class="row mt-4 mb-2">
          <div class="col-sm-3 col-form-label"><label>Email*</label></div>
          <div class="col-sm-9">
            <input formControlName="email" name="email" id='email' type="text"
            class="form-control form-control-lg"
              />
          </div>
      </div>

        <!-- White Space Empty Row -->
        <div class="row mt-4"></div>

        <div class="row mb-2" >
            <div class="col-sm-3 col-form-label mt-2"><label>Practice Name*</label></div>
            <div class="col-sm-9 mt-2">
              <input 
              id="practiseName"
              type="text"  class="form-control form-control-lg" 
              placeholder="Practice Name"
              />  
           </div>
          </div>


        <!-- Nav Button Forward-->
        <div class="col"
        *ngIf="foundPractice == true || foundPractice == false"
        >
        <a class="navbutton position-absolute top-50 end-0 translate-middle-y fadefast" 
         (click)="navigate()" role="button">
         <span class="material-symbols-rounded">arrow_circle_right</span>
         </a>
        </div>
        
        <!-- White Space Empty Row -->
        <div class="row mt-4"></div>
        
        <!-- User Message -->
        <div class="row mt-4">
        <div class="col text-center" id="userMessage"></div> 
        </div>
      </div>

</form>