<ng-container *ngIf="userData?.payment != 1 || sharedService.failedPayment">
<app-stripe></app-stripe>
</ng-container>

<form class="form container">
  <div class="col-12">
    <h2 class="cinzel text-center">Confirmation</h2>


<table style="cursor:default" class="table table-striped table-hover align-middle">
<thead>
      <tr >
        <th scope="col"></th>
        <th scope="col" title="Patient"><span class="material-symbols-rounded">person</span></th>
        <th scope="col" title="Reason"><span class="material-symbols-rounded">psychology_alt</span></th>
        <th scope="col" title="Submitting Doctor"><span class="material-symbols-rounded">stethoscope</span></th>
        <!--<th scope="col" title="Office"><span class="material-symbols-rounded">home_health</span></th>-->
        <th scope="col" title="Upload Person"><span class="material-symbols-rounded">contact_phone</span></th>
        <th scope="col" title="Report Finished Notification"><span class="material-symbols-rounded">mail</span></th>
        <th scope="col" title="Patient Imaging"><span class="material-symbols-rounded">photo_library</span></th>
        <th scope="col" title="Rush | Stat?"><span class="material-symbols-rounded">alarm</span></th>
      </tr>
    </thead>
<tbody>
  <tr>
    <th scope="row"></th>
    <td>Patient Name</td>
    <td>Reason Category Array</td>
    <td>Doctor Name</td>
    <td>Upload Person</td>
    <td>Email Notification</td>
    <td>Patient Imaging Filename:SizeMB</td>
    <td>Rush/Stat?</td>
  </tr>
</tbody>
    </table>


            
   </div>
</form> 
