<div class="container">

  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>
      <div style="font-size: 20px">
        Drop Patient Files Here or Click to Browse <span class="browser"> My Computer </span> <br> <br>
        Describe each image group/type you are uploading below.
      </div>
    </ngx-dropzone-label>
    
    <ngx-dropzone-preview *ngFor="let f of originalFiles" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>
        <div class="file-info">
          {{ f.name }}
        </div>
        <div *ngIf="f.isUploading" class="progress-container">
          <div class="progress-bar" [ngStyle]="{'width': f.progress + '%'}"></div>
        </div>
        <div *ngIf="f.uploaded">
          <span class="checkbox-icon">✔️</span> Uploaded
        </div>
      </ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
  

<form class="form container needs-validation" [formGroup]="patientForm">
    <div class="col-12">
                
                <div class="row mt-0" id="ImageType" title="Note the images you are uploading">
                  <div class="col-sm-3 col-form-label"><label>I am Uploading*</label></div>
                  <div class="col-sm position-relative">
                    <div class="input-group input-group-lg">
                      <label class="input-group-text" for="ImageType">Image Type</label>
                    <select 
                    class="form-select form-select-lg ImageType-Class" 
                    id="ImageType"
                    (change)="selectedOption($event,'imageType')" 
                    tabindex="2">
                      <option value="1" selected>CBCT</option>
                      <option value="2">PAN</option>
                      <option value="3">Intraoral Image or Set (FMX or BWX or PA or Occlusal)</option>
                      <option value="4">CEPH</option>
                      <option value="5">MRI</option>
                      <option value="6">MDCT</option>
                      <option value="7">Ultrasound</option>
                      <option value="9">Other (Including any other 📷📄)</option>
                    </select>
                    </div>
                  </div>
          
                  <div class="col-sm position-relative">
                    <div class="input-group input-group-lg">
                    <label class="input-group-text" for="dateOfImage">Image Date</label>
                    <input 
                    id='dateOfImage'
                    formControlName="imageDate" 
                    type="date"
                    class="form-control form-control-lg dateOfImage-Class"
                    />
                    <!-- <div class="invalid-tooltip">Please complete this field</div> -->
                    </div>
                  </div>
                </div>
  
                <div class="row mb-0"title="Note any additional CBCTs or image sets you upload. This way we can verify that we received everything you send.">
                  <div>
                  <label class="col-3 col-form-label">Another CBCT/Image? 
                    <!--Duplicate Line Button-->
                    <button  
                    type="button" 
                    class="btn btn-light btn-sm bg-transparent" 
                    title="Describe Another Image You Are Uploading"
                    onclick="copyLine()">➕</button>
                          <button onclick="deleteLine()" type="button" class="btn btn-light btn-sm bg-transparent" title="Delete Extra Line">❌</button></label>
                  </div>           
                  </div>
  
  
                <div class="row mb-2 align-items-center" title="Helpful for receipts and billing. Patient names will be ignored here">
                  <div for="theirpatientnumber" class="col-sm-3 col-form-label"><label>Your Internal <br> Patient ID</label></div>
                  <div class="col-sm position-relative">
                    <input
                  id='theirpatientnumber'
                  formControlName="internalId"
                  placeholder="Optional: Used in invoices/non-encrypted messages (No Names)"
                  type="text"
                  class="form-control form-control-lg"
                  />
                  </div>
                </div>
  
                <div class="row mb-3">
                  <div class="col-sm-3 col-form-label">
                    <label>Patient Name*</label>
                  </div>
                  <div class="col-sm position-relative">
                    <label class="col-sm-3 col-form-label" hidden
                      >pfirst</label>
                    <input                    
                      id="pFirstName"
                      formControlName="firstName"
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="First Name"
                    />
                    <!-- <div class="invalid-tooltip">Please complete this field</div> -->
                  </div>
                  <div class="col-sm position-relative">
                    <label hidden>plast</label>
                    <input                    
                      id="pLastName"
                      formControlName="lastName"
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Last Name"
                    />
                    <!-- <div class="invalid-tooltip">Please complete this field</div> -->
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-3 col-form-label">
                    <label>Birth*</label>
                  </div>
                  <div class="col-sm position-relative">
                    <label hidden>birthday</label>
                    <input required                   
                      id="birth"
                      formControlName="birthDate"
                      type="date"
                      class="form-control form-control-lg"
                      title="When they came screaming into the world"
                    />
                  </div>
                  <div class="col-sm position-relative">
                    <label hidden>sex</label>
                    <select 
                      class="form-select form-select-lg"
                      id="sex"
                      title="Sex assigned at birth"
                      tabindex="9"
                      (change)="selectedOption($event,'sex')" 

                    >
                      <option disabled selected value>Sex Assigned at Birth</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="9">Intersex</option>
                    </select>
                    <!-- <div class="invalid-tooltip">Please complete this field</div> -->
                  </div>
                </div>
                <div>
                </div>
    </div>

</form>


</div>

         <!-- Nav Button Forward-->
         <div class="col"
         *ngIf="isVaidated">
         <a class="navbutton position-absolute top-50 end-0 translate-middle-y fadefast" 
          (click)="navigate()" role="button">
          <span class="material-symbols-rounded">arrow_circle_right</span>
          </a>
         </div>

