<div class="form container mt-4 ">
    <div class="col-12">

                <div class="row mb-3">
                  <div class="col-sm-3 col-form-label"><label>Radiologist</label></div>
                  <div class="col-sm-6 position-relative">
                    <select 
                    id="Radiologist" 
                    class="form-select form-select-lg mb-3" 
                    title="Radiologist Preference"
                    (input)=" radioLogist = $any($event).target.value"
                    >
                    <option disabled selected value>Choose</option>
                    <option value="1">Dr. Dunn</option>
                    <option value="2">Any</option>
                    </select>
                  </div>
                </div>

                <!-- rush -->
                <div class="row mb-3">
                  <div class="col-sm-3"><label>Rush</label></div>
                  <div class="col-sm-9" title='If not already, you will be switched to autopay'>
                    <div class="form-check form-switch" >
                      <input 
                      class="form-check-input" 
                      type="checkbox" 
                      role="switch" 
                      value="1" 
                      id="rush"
                      (input)= "onStatRushValChange($event)"
                      >
                      <label class="form-check-label" for="rush">
                        <span>Coming Soon: Rush/Same Day (Additional Fee Applied)</span></label>
                    </div>
                    <!-- stat -->
                    <div class="form-check form-switch" >
                      <input 
                      class="form-check-input" 
                      type="checkbox" 
                      role="switch" 
                      value="1" 
                      id="stat"
                      (input)= "onStatRushValChange($event)"
                        >
                      <label class="form-check-label" for="stat">
                        <span>Coming Soon: Stat/Within the Hour (Additional Fee Applied)</span></label>
                    </div>
                  </div>
                </div>

  
        <div *ngIf="radioLogist" class="row mt-5 mb-3 d-grid col-9 mx-auto">
          <button  (click)="submitPatientInfo()" id="SubmitButton" class="btn btn-lg btn-hiomr fadefast" >Authorize & Submit</button>
                </div>
  
              <!-- White Space Empty Row -->
              <div class="row mt-4"></div>
        
              <!-- User Message -->
              <div class="row mt-4">
              <div class="col text-center" id="userMessageRadiologist"></div> 
              </div>
              </div>
</div>



<!-- additional changes to re-edit form (patient info) -->

<div class="col-6" style="margin-left: 25%;margin-top:5%;">
          
  <div class="row mb-3">

    <div class="col-sm position-relative">
      <label >Patient First Name</label>
      <input                    
        id="pFirstName"
        formControlName="firstName"
        type="text"
        class="form-control form-control-lg"
        placeholder="First Name"
      />
      <!-- <div class="invalid-tooltip">Please complete this field</div> -->
    </div>
    <div class="col-sm position-relative">
      <label >Patient First Name</label>
      <input                    
        id="pLastName"
        formControlName="lastName"
        type="text"
        class="form-control form-control-lg"
        placeholder="Last Name"
      />
      <!-- <div class="invalid-tooltip">Please complete this field</div> -->
    </div>
  </div>

  <div class="row mb-3">
    <div class="row mb-2 align-items-center" title="Helpful for receipts and billing. Patient names will be ignored here">
      <div for="theirpatientnumber" class="col-sm-3 col-form-label"><label>Your Internal <br> Patient ID</label></div>
      <div class="col-sm position-relative">
        <input
      id='theirpatientnumber'
      formControlName="internalId"
      placeholder="Optional: Used in invoices/non-encrypted messages (No Names)"
      type="text"
      class="form-control form-control-lg"
      />
      </div>
    </div>
  </div>

  <div class="row mb-3">

    <div class="col-sm position-relative">
      <label >birthday</label>
      <input required                   
        id="birth"
        formControlName="birthDate"
        type="date"
        class="form-control form-control-lg"
        title="When they came screaming into the world"
      />
    </div>
    <div class="col-sm position-relative">
      <label >sex</label>
      <select 
        class="form-select form-select-lg"
        id="sex"
        title="Sex assigned at birth"
        tabindex="9"

      >
        <option disabled selected value>Sex Assigned at Birth</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
        <option value="9">Intersex</option>
      </select>
      <!-- <div class="invalid-tooltip">Please complete this field</div> -->
    </div>
  </div>

  <div>
  </div>
</div>  


<!-- additional changes to re-edit form (reason info) -->
<div class="col-6" style="margin-left: 25%;margin-top:5%;">
  <div class="row mb-3"></div>
  <div class="row mb-3">
    <label >Reasons</label>
    <app-reason [hideHeading]="false"></app-reason>
  </div>
</div>
