<div class="form container mt-4 ">
    <div class="col-12">

                <div class="row mb-3">
                  <div class="col-sm-3 col-form-label"><label>Radiologist </label></div>
                  <div class="col-sm-6 position-relative">
                    <select 
                    id="Radiologist" 
                    class="form-select form-select-lg mb-3" 
                    title="Radiologist Preference"
                    (input)=" radioLogist = $any($event).target.value; isValidated = true"
                    >
                    <option disabled selected value>Choose</option>
                    <option value="1">Dr. Dunn</option>
                    <option value="2">Any</option>
                    </select>
                  </div>
                </div>

                <!-- rush -->
                <div class="row mb-3">
                  <div class="col-sm-3"><label>Rush</label></div>
                  <div class="col-sm-9" title='If not already, you will be switched to autopay'>
                    <div class="form-check form-switch" >
                      <input 
                      class="form-check-input" 
                      type="checkbox" 
                      role="switch" 
                      value="1" 
                      id="rush"
                      (input)= "onStatRushValChange($event)"
                      >
                      <label class="form-check-label" for="rush">
                        <span>Coming Soon: Rush/Same Day (Additional Fee Applied)</span> </label>
                    </div>
                    <!-- stat -->
                    <div class="form-check form-switch" >
                      <input 
                      class="form-check-input" 
                      type="checkbox" 
                      role="switch" 
                      value="1" 
                      id="stat"
                      (input)= "onStatRushValChange($event)"
                        >
                      <label class="form-check-label" for="stat">
                        <span>Coming Soon: Stat/Within the Hour (Additional Fee Applied)</span></label>
                    </div>
                  </div>
                </div>

    
              <!-- White Space Empty Row -->
              <div class="row mt-4"></div>
        
              <!-- User Message -->
              <div class="row mt-4">
              <div class="col text-center" id="userMessageRadiologist"></div> 
              </div>
              </div>
</div>

         <!-- Nav Button Forward-->
         <div class="col"
         *ngIf="isValidated">
         <a class="navbutton position-absolute top-50 end-0 translate-middle-y fadefast" 
          (click)="routeToVerifyPatient()" role="button">
          <span class="material-symbols-rounded">arrow_circle_right</span>
          </a>
         </div>