<div>
  <h1 [ngClass]="'title'">Case Submission Form</h1>
  <div [ngClass]="'steps justify-content-center'">
    <span 
    [ngClass]="{
      'step': true, 
      'active': ['registration', 'match-practice', 'submitting-doctor', 'email'].includes(currentRoute),
      'completed': checkRoutePrecedenceForCompletion(1,['registration', 'match-practice', 'submitting-doctor', 'email'])
    }"
    title='Practice|Doctor Info'>
    <i class="fa-solid fa-hospital"></i>
  </span>
    <span 
    [ngClass]="{
      'step': true, 
      'active': currentRoute === 'patientForm',
      'completed': checkRoutePrecedenceForCompletion(2,['patientForm'])

    }" title='Patient Info'><i class="fa-solid fa-user"></i></span>
    <span 
    [ngClass]="{
      'step': true, 
      'active': currentRoute === 'reason',
      'completed': checkRoutePrecedenceForCompletion(3,['reason'])
    }" title='Reason'><i class="fa-solid fa-address-card"></i></span>
    <span 
    [ngClass]="{
      'step': true, 
      'active': currentRoute === 'radiologist',
      'completed': checkRoutePrecedenceForCompletion(4,['radiologist'])
    }" title='Radiologist'><i class="fa-solid fa-user-doctor"></i></span>
        <span 
        [ngClass]="{
          'step': true, 
          'active': currentRoute === 'verify',
          'completed': checkRoutePrecedenceForCompletion(5,['verify'])
        }" title='Confirmation'><i class="fa-solid fa-user-check"></i></span>
    <span 
    [ngClass]="{
      'step': true, 
      'active': currentRoute === 'confirmation',
      'completed': checkRoutePrecedenceForCompletion(6,['confirmation'])
    }" title='Confirmation'><i class="fa-solid fa-check-to-slot"></i></span>
  </div>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
