
<div class="fixed-bottom text-center cinzel">
    <!--<a
    href='?temp=AddFiles' 
    target="_top"
    role="button"  
    title='Add Extra Files'>➕
    </a>-->
    
    <a 
    href="https://healthyimageomr.com/instructions/" 
    target="_blank"
    role="button" 
    title="HELP | This opens the help page in a new tab.">🆘
    </a>

    <!--<a 
    onclick="refresh()" 
    role="button" 
    title="Clear and refresh the page">🔃
    </a>-->

    <!--<a 
    href='?temp=Chat'
    target="_top" 
    role="button"  
    title='Chat | This opens a chat window. '>💬
    </a>
    -->

    <!--<button type="button" class="btn btn-primary" id="testToastBtn">Show live toast</button>-->
    </div>