
.form {
    font-family: Raleway;
  }

.title {
    font-family: Cinzel !important;
    color: #002952;
    text-align: center; 
}

label, .cinzel {
    font-family: Cinzel;
    font-size: 20px;
    color: #000
}

.radio, .raleway {
  font-family: Raleway !important;
  font-size: 20px;
}
